.hero-unit, div.element, .well {
    border: 1px solid #e0e0e0;
    background: white;
}

div.element {
    border-left: 10px solid #55A72F;
    border-radius: 5px;
    padding: 7px 7px 2px 7px;
    margin-bottom: 15px;
    margin-left: 0;
}

div.element.class, div.element.interface, div.element.trait {
    border-left-color: #e0e0e0;
}

code, pre {
    padding: 0 3px 2px;
    font-family: Menlo,Monaco,"Courier New",monospace;
    font-size: 12px;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

pre {
    display: block;
    padding: 8.5px;
    margin: 0 0 9px;
    font-size: 12px;
    line-height: 18px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
}

h2 {
    border-bottom: 1px dashed #55A72F;
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-left: 5px;
    color: #e9e9e9;
    font-weight: normal;
    margin-top: 40px;
    line-height: 36px;
}

h2:first-of-type {
    margin-top: 0;
}

.element h2 {
    font-family: inherit;
    font-size: 1.2em;
    color: black;
}

div.detail-description {
    padding-left: 30px;
}